<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
</head>
<body>

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Register{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="container">
        <div id="block-position">
            <form class="form-register" action="/user/editProfile/" method="post">
                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}

                {% csrf_token %}

                <h2 class="text-center">Edit Profile</h2>
                <div class="form-entry">
                    {{ profile_form.username.label_tag }}
                    {{ profile_form.username }}
                </div>

                <div id="additionalInfo" style="display: block;">
                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ profile_form.gender.label }}
                        {{ profile_form.gender }}
                    </div>
                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ profile_form.age.label }}
                        {{ profile_form.age }}
                    </div>

                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ profile_form.street1.label }}
                        {{ profile_form.street1 }}
                    </div>
                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ profile_form.street2.label }}
                        {{ profile_form.street2 }}
                    </div>
                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ profile_form.suburb.label }}
                        {{ profile_form.suburb }}
                    </div>

                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ profile_form.state.label }}
                        {{ profile_form.state }}
                    </div>
                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ profile_form.postalCode.label }}
                        {{ profile_form.postalCode }}
                    </div>
                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ profile_form.country.label }}
                        {{ profile_form.country }}
                    </div>

                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ profile_form.phone.label }}
                        {{ profile_form.phone }}
                    </div>
                </div>

                <div id="interest" style="display: block;">
                    <span class="form-entry" style="margin-bottom: 10px;">
                    <label style="vertical-align:middle;">{{ profile_form.painting }}Painting</label></span>
                    <span class="form-entry" style="margin-bottom: 10px;">
                    <label style="vertical-align:middle;">{{ profile_form.sculpture }}Sculpture</label></span>
                    <span class="form-entry" style="margin-bottom: 10px;">
                    <label style="vertical-align:middle;">{{ profile_form.photography }}Photography</label></span>
                    <span class="form-entry" style="margin-bottom: 10px;">
                    <label style="vertical-align:middle;">{{ profile_form.calligraphy }}Calligraphy</label></span>
                    <span class="form-entry" style="margin-bottom: 10px;">
                    <label style="vertical-align:middle;">{{ profile_form.printmaking }}Printmaking</label></span>
                    <span class="form-entry" style="margin-bottom: 10px;">
                    <label style="vertical-align:middle;">{{ profile_form.art_and_craft }}Arts And Crafts</label></span>
                    <span class="form-entry" style="margin-bottom: 10px;">
                    <label style="vertical-align:middle;">{{ profile_form.seal_cutting }}Seal Cutting</label></span>
                    <span class="form-entry" style="margin-bottom: 10px;">
                    <label style="vertical-align:middle;">{{ profile_form.art_design }}Art Design</label></span>
                </div>

                <button type="reset" class="btn btn-default pull-left" style="margin-top: 10px;">reset</button>
                <button type="submit" class="btn btn-primary pull-right" style="margin-top: 10px;">submit</button>
            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}

</body>
</html>

