<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Register choices{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
<div class="container" >
    <div id="block-position">
        <form class="form-register" action="/user/register/" method="post">{% csrf_token %}
        <button type="submit" class="btn btn-default pull-left" style="margin-top: 10px;">Register with email</button>
        </form>
        <form class="form-register" action="/oauth/google/" method="post">{% csrf_token %}
        <button type="submit" class="btn btn-default pull-left" style="margin-top: 10px;">Register with Google</button>
        </form>
        <form class="form-register" action="/oauth/facebook/" method="post">{% csrf_token %}
        <button type="submit" class="btn btn-default pull-left" style="margin-top: 10px;">Register with Facebook</button>
        </form>
        <form class="form-register" action="/oauth/github/" method="post">{% csrf_token %}
        <button type="submit" class="btn btn-default pull-left" style="margin-top: 10px;">Register with Github</button>
        </form>
    </div>

</div>
{% endblock %}
</body>
</html>