<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Register{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/switch.css' %}" type="text/css">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/on_off_switch.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="container">
        <div id="block-position">
            <form class="form-register" action="/user/register/" method="post">
                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}

                {% csrf_token %}

                <h2 class="text-center">Welcome register</h2>
                <div class="form-entry">
                    {{ register_form.username.label_tag }}
                    {{ register_form.username }}
                </div>

                <div class="form-entry">
                    {{ register_form.password1.label_tag }}
                    {{ register_form.password1 }}
                </div>

                <div class="form-entry">
                    {{ register_form.password2.label_tag }}
                    {{ register_form.password2 }}
                </div>

                <div class="form-entry">
                    {{ register_form.email.label_tag }}
                    {{ register_form.email }}
                </div>

                <div class="testswitch">
                    <input class="testswitch-checkbox" id="checkArtist" type="checkbox" name="artist">
                    <label class="testswitch-label" for="checkArtist">
                        <span class="testswitch-inner" data-on="Artist" data-off="Not artist"></span>
                        <span class="testswitch-switch"></span>
                    </label>

                </div>

                <menu id="refereeMenu" style="display: none;">
                <li class="form-entry" name="realName" id="realName" >
                    Your real name
                    {{ register_form.realName }}
                </li>
                <li class="form-entry" name="refEmail" id="refEmail">
                    Referee's email
                    {{ register_form.refEmail }}
                </li>
                </menu>

                <div class="form-entry">
                    <input id="addition_switch" type="checkbox" name="addition_switch" style="display: none">
                    <label style="vertical-align:middle; color:deepskyblue;" for="addition_switch">Additional Information
                    <span id="addition_arrow" class="arrow-bottom" ></span></label>
                </div>

                <div id="additionalInfo" style="display: none;">
                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ register_form.gender.label }}
                        {{ register_form.gender }}
                    </div>
                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ register_form.age.label }}
                        {{ register_form.age }}
                    </div>

                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ register_form.street1.label }}
                        {{ register_form.street1 }}
                    </div>
                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ register_form.street2.label }}
                        {{ register_form.street2 }}
                    </div>
                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ register_form.suburb.label }}
                        {{ register_form.suburb }}
                    </div>

                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ register_form.state.label }}
                        {{ register_form.state }}
                    </div>
                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ register_form.postalCode.label }}
                        {{ register_form.postalCode }}
                    </div>
                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ register_form.country.label }}
                        {{ register_form.country }}
                    </div>

                    <div class="form-entry" style="margin-bottom: 10px;">
                        {{ register_form.phone.label }}
                        {{ register_form.phone }}
                    </div>

                </div>

                <div class="form-entry">
                    <input id="interest_switch" type="checkbox" name="interest_switch" style="display: none">
                    <label style="vertical-align:middle; color:deepskyblue;" for="interest_switch">Interest choices
                    <span id="interest_arrow" class="arrow-bottom" ></span></label>
                </div>

                <div id="interest" style="display: none;">
                    <span><label style="vertical-align:middle;"><input type="checkbox" name="painting" class="form-interest"/>
                    Painting</label></span>
                    <span><label style="vertical-align:middle;"><input type="checkbox" name="sculpture" class="form-interest"/>
                    Sculpture</label></span>
                    <span><label style="vertical-align:middle;"><input type="checkbox" name="photography" class="form-interest"/>
                    Photography</label></span>
                    <span><label style="vertical-align:middle;"><input type="checkbox" name="calligraphy" class="form-interest"/>
                    Calligraphy</label></span>
                    <span><label style="vertical-align:middle;"><input type="checkbox" name="printmaking" class="form-interest"/>
                    Printmaking</label></span>
                    <span><label style="vertical-align:middle;"><input type="checkbox" name="artsAndCrafts" class="form-interest"/>
                    Arts And Crafts</label></span>
                    <span><label style="vertical-align:middle;"><input type="checkbox" name="sealCutting" class="form-interest"/>
                    Seal Cutting</label></span>
                    <span><label style="vertical-align:middle;"><input type="checkbox" name="artDesign" class="form-interest"/>
                    Art Design</label></span>
                </div>

<!--                <div class="form-entry">-->
<!--                    <input type="checkbox" value="1" name="check_box_list"/>Accept the terms-->
<!--                    <input type="checkbox" value="2" name="check_box_list"/>2-->
<!--                </div>-->

                <div class="form-entry" style="height: 20px">
                    <input type="checkbox" name="term_check"/>Accept the terms
                    <a href="/terms/terms1" >The terms details</a>
                </div>

                <div class="form-entry">
                    {{ register_form.captcha.errors }}
                    {{ register_form.captcha.label_tag }}
                    {{ register_form.captcha }}
                </div>

                <button type="reset" class="btn btn-default pull-left" style="margin-top: 10px;">reset</button>
                <button type="submit" class="btn btn-primary pull-right" style="margin-top: 10px;">submit</button>
            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}

</body>
</html>

