{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}
{% block js %}
{% endblock %}

<!DOCTYPE html>
<html>
    <head>
       <title>{% block title %}base{% endblock %}</title>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                    <meta name="author" content="">
                        <link rel="shortcut icon" href="{% static 'homepage/img/ASG_logo.png'%}">
                            <title>Artsource Global</title
                                
                                <!-- Bootstrap core CSS -->
                                
                                <link href={% static 'homepage/vendor/bootstrap/css/bootstrap.min.css'%} rel="stylesheet">
                                    
                                    <!-- Custom fonts for this template -->
                                    <link href={% static 'homepage/vendor/fontawesome-free/css/all.min.css'%} rel="stylesheet">
                                        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
                                            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
                                                
                                                <!-- Custom styles for this template -->
                                                <link href={% static 'homepage/css/grayscale.min.css'%} rel="stylesheet">
                                                    <link href={% static 'homepage/css/style.css'%} rel="stylesheet">
                                                        <link rel="stylesheet" type="text/css" href={% static 'homepage/css/normalize.css'%} />
                                                        <link rel="stylesheet" type="text/css" href={% static 'homepage/css/demo.css'%} />
                                                        <link rel="stylesheet" type="text/css" href={% static 'homepage/css/set1.css'%} />
                                                        <link rel="stylesheet" type="text/css" href={% static 'homepage/css/main.css'%} />
                                                        <link rel="stylesheet" type="text/css" href={% static 'homepage/css/owl.carousel.css'%} />
                                                        
                                                        
                                                        
                                                        </head>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img class="responsive-header-image" height="auto" width ="80%" src= {% static 'homepage/img/ASG_logo.png'%} alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <form class="form-inline" style="display:none;">
                <input class="form-control" type="search" placeholder="Search" id="search-input">
                    </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-5">
                <li class="nav-item active" id = "text-nav-opt">
                    <a class="nav-link js-scroll-trigger" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" id = "text-nav-opt">
                    <a class="nav-link js-scroll-trigger" href="#projects">Art</a>
                </li>
                <li class="nav-item" id = "text-nav-opt">
                    <a class="nav-link js-scroll-trigger" href="/gallery">Gallery</a>
                </li>
                <li class="nav-item" id = "text-nav-opt">
                    <a class="nav-link js-scroll-trigger" href="/email">Support</a>
                </li>
                {% if request.session.is_login %}
                <li class="">
                    <div class="" style="color: orangered; padding: 2.6rem 1.5rem;">
                        Hi ! ${session.value}
                        
                    </div>
                    
                </li>
                <li class="">
                    
                    <a href="/user/logout" class="logout" style="color: #002752; padding: 2.6rem 1.5rem; text-decoration: underline">logout</a>
                    
                </li>
                
                <li class="">
                    
                    <a href="/user/profile" style="color: #002752; padding: 2.6rem 1.5rem; text-decoration: underline">Dashboard</a>
                    
                </li>
                {% else %}
                <a href="/user/login" id ="header-signin" class="nav-link js-scroll-trigger"><button class="button-signin"> LOG IN </button></a>
                </li>
                
                <li class="">
                    <a href="/user/register" id ="header-signin" class="nav-link js-scroll-trigger"><button class="button-signup"> REGISTER </button></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <!-- Navigation -->
    <body>

        <div style="margin-top:10%">
            {% block content %}
            {% endblock %}
        </div>


    </body>
</html>

