{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="Gallary" name="gallary">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'homepage/img/ASG_logo.png'%}">


    <title>Gallery</title>

    <!-- Bootstrap core CSS -->

    <link href={% static 'gallery/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href={% static 'gallery/vendor/fontawesome-free/css/all.min.css' %} rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href={% static 'gallery/css/demo.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'gallery/css/main.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'gallery/css/owl.carousel.css' %} />



    <!-- Custom styles for this template -->
    <link href={% static 'gallery/css/grayscale.min.css' %} rel="stylesheet">
    <link href={% static 'gallery/css/style.css' %} rel="stylesheet">

    <!-- Gallary template -->
    <link href={% static 'gallery/main.82cfd66e.css' %} rel="stylesheet">

    <link href={% static 'gallery/css/icons.css' %} rel="stylesheet">
    <link href={% static 'gallery/css/normalize.css' %} rel="stylesheet">


</head>




<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img class="responsive-header-image" height="auto" width ="80%" src= {% static 'homepage/img/ASG_logo.png'%} alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <form class="form-inline" style="display:none;">
                <input class="form-control" type="search" placeholder="Search" id="search-input">
                    </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-5">
                <li class="nav-item active" id = "text-nav-opt">
                    <a class="nav-link js-scroll-trigger" href="/">Home </a>
                </li>
                <li class="nav-item" id = "text-nav-opt">
                    <a class="nav-link js-scroll-trigger" href="/#projects">Art</a>
                </li>
                <li class="nav-item" id = "text-nav-opt">
                    <a class="nav-link js-scroll-trigger" href="/gallery">Gallery<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" id = "text-nav-opt">
                    <a class="nav-link js-scroll-trigger" href="/email">Support</a>
                </li>
                {% if user.is_authenticated %}
                <li class="">
                    <div class="" style="color: orangered; padding: 2.6rem 1.5rem;">
                        Hi ! {{ user.username }}

                    </div>

                </li>
                <li class="">

                    <a href="{% url 'logout' %}" class="logout" style="color: #002752; padding: 2.6rem 1.5rem; text-decoration: underline">logout</a>

                </li>

                <li class="">

                    <a href="../user_profile/userDash" style="color: #002752; padding: 2.6rem 1.5rem; text-decoration: underline">Dashboard</a>

                </li>
                {% else %}
                <a href="/accounts/login" id ="header-signin" class="nav-link js-scroll-trigger"><button class="button-signin"> SIGN IN </button></a>
                </li>

                <li class="">
                    <a href="/signup" id ="header-signin" class="nav-link js-scroll-trigger"><button class="button-signup"> SIGN UP </button></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>






    <div class="artworks">

        <div class="grid" style="position: relative; height: 2468.47px; margin-left: 15%; margin-right: 15%;">
            <div class="gutter-sizer"></div>
            <div class="grid-sizer"></div>

            {% for a in artwork %}
            <a href="{% url 'artwork_detail' pk=a.pk %}">
            <div class="grid-item card" style="border-radius:10px">
                <img class="img-responsive" alt="" src="{{a.artwork_image.url}}">
                <img id="user_icon" src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/C8b215466722acad2318d6550ec6ba41c/projects/M04c48b3d3e01110426104e0844475df21533644245264/images/Ma29fbb9ab7553333821b63cc589560711525253841292"
                    style="width:35px;margin:-20px 15px 0px 10px">
                <font size="5" style="padding: 10px; margin-top:0px;">{{a.title}}</font>


                <div class="thumb1" style="display:inline;margin:-10px 15px 0px 50px;">
                    <button class="icobutton icobutton--heart" onclick="setThumbID(1);"><span class="fa fa-heart"></span><span class="icobutton__text icobutton__text--side">{{a.likes}}</span></button>
                </div>

            </div>
            </a>
            {% endfor %}

        </div>
    </div>
  </div>


    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            masonryBuild();
        });
    </script>

    </main>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            navbarToggleSidebar();
            navActivePage();
        });
    </script>








    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5" style="position:relative;margin:auto;">


        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
            <a class="dark-grey-text" href="https://mdbootstrap.com/bootstrap-tutorial/"> Artsource Global</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->










    <script src={% static 'gallery/js/mo.min.js' %}></script>

    <script>
        thumbID = 0;
        // taken from mo.js demos
        function isIOSSafari() {
            var userAgent;
            userAgent = window.navigator.userAgent;
            return userAgent.match(/iPad/i) || userAgent.match(/iPhone/i);
        };

        // taken from mo.js demos
        function isTouch() {
            var isIETouch;
            isIETouch = navigator.maxTouchPoints > 0 || navigator.msMaxTouchPoints > 0;
            return [].indexOf.call(window, 'ontouchstart') >= 0 || isIETouch;
        };

        // taken from mo.js demos
        var isIOS = isIOSSafari(),
            clickHandler = isIOS || isTouch() ? 'touchstart' : 'click';

        function extend(a, b) {
            for (var key in b) {
                if (b.hasOwnProperty(key)) {
                    a[key] = b[key];
                }
            }
            return a;
        }

        function Animocon(el, options) {
            this.el = el;
            this.options = extend({}, this.options);
            extend(this.options, options);

            this.checked = false;

            this.timeline = new mojs.Timeline();

            for (var i = 0, len = this.options.tweens.length; i < len; ++i) {
                this.timeline.add(this.options.tweens[i]);
            }

            var self = this;
            this.el.addEventListener(clickHandler, function() {
                if (self.checked) {
                    self.options.onUnCheck();
                }
                if (!self.checked) {
                    self.options.onCheck();
                    self.timeline.replay();
                }
                self.checked = !self.checked;
            });
        }

        Animocon.prototype.options = {
            tweens: [
                new mojs.Burst({})
            ],
            onCheck: function() {
                return false;
            },
            onUnCheck: function() {
                return false;
            }
        };


        function init(thumbID) {

            // grid items:
            var items = [].slice.call(document.querySelectorAll('.artworks > .grid > .grid-item >.thumb' + thumbID));

            var el1 = items[0].querySelector('button.icobutton'),
                el1span = el1.querySelector('span'),
                el1counter = el1.querySelector('span.icobutton__text');
            Animocon(el1, {
                tweens: [
                    // ring animation
                    new mojs.Shape({
                        parent: el1,
                        duration: 750,
                        type: 'circle',
                        radius: {
                            0: 40
                        },
                        fill: 'transparent',
                        stroke: '#F35186',
                        strokeWidth: {
                            35: 0
                        },
                        opacity: 0.2,
                        top: '45%',
                        easing: mojs.easing.bezier(0, 1, 0.5, 1)
                    }),


                    // icon scale animation
                    new mojs.Tween({
                        duration: 1200,
                        easing: mojs.easing.ease.out,
                        onUpdate: function(progress) {
                            if (progress > 0.3) {
                                var elasticOutProgress = mojs.easing.elastic.out(1.43 * progress - 0.43);
                                el1span.style.WebkitTransform = el1span.style.transform = 'scale3d(' + elasticOutProgress + ',' + elasticOutProgress + ',1)';
                            } else {
                                el1span.style.WebkitTransform = el1span.style.transform = 'scale3d(0,0,1)';
                            }
                        }
                    })
                ],
                onCheck: function() {
                    if (el1.style.color != '#F35186') {
                        el1.style.color = '#F35186';
                        el1counter.innerHTML = Number(el1counter.innerHTML) + 1;
                    }
                },
                onUnCheck: function() {
                    if (el1.style.color != '#C0C1C3') {
                        el1.style.color = '#C0C1C3';
                        var current = Number(el1counter.innerHTML);
                        el1counter.innerHTML = current > 1 ? Number(el1counter.innerHTML) - 1 : '';
                    }
                }
            });
        }

        function setThumbID(i) {
            thumbID = i;
            init(thumbID);
        }
    </script>








    <!-- Bootstrap core JavaScript -->
    <script src={% static 'gallery/vendor/jquery/jquery.min.js' %}></script>
    <script src={% static 'gallery/vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>

    <!-- Plugin JavaScript -->
    <script src={% static 'gallery/vendor/jquery-easing/jquery.easing.min.js' %}></script>
    <!-- JQuery CDN -->
    <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- Custom scripts for this template -->
    <script src={% static 'gallery/js/grayscale.min.js' %}></script>

    <script type="text/javascript" src={% static 'gallery/main.85741bff.js' %}></script>






</body>

</html>
